#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: ((40+2) * 8) px;
  height: ((40+2) * 8) px;
}

.square {
  width: 40px; /* 320 / 8 */
  height: 40px;
  border: 1px solid black;
}

/* Alternate color for square spaces */

#chessboard .square:nth-child(odd):nth-child(-n + 9) {
  background-color: white;
}

#chessboard .square:nth-child(even):nth-child(-n + 9) {
  background-color: black;
}

#chessboard .square:nth-child(even):nth-child(n + 9):nth-child(-n + 16) {
  background-color: white;
}

#chessboard .square:nth-child(odd):nth-child(n + 9):nth-child(-n + 16) {
  background-color: black;
}

#chessboard .square:nth-child(odd):nth-child(n + 17):nth-child(-n + 24) {
  background-color: white;
}
#chessboard .square:nth-child(even):nth-child(n + 17):nth-child(-n + 24) {
  background-color: black;
}

#chessboard .square:nth-child(even):nth-child(n + 25):nth-child(-n + 32) {
  background-color: white;
}
#chessboard .square:nth-child(odd):nth-child(n + 25):nth-child(-n + 32) {
  background-color: black;
}

#chessboard .square:nth-child(odd):nth-child(n + 33):nth-child(-n + 40) {
  background-color: white;
}
#chessboard .square:nth-child(even):nth-child(n + 33):nth-child(-n + 40) {
  background-color: black;
}
#chessboard .square:nth-child(even):nth-child(n + 41):nth-child(-n + 48) {
  background-color: white;
}
#chessboard .square:nth-child(odd):nth-child(n + 41):nth-child(-n + 48) {
  background-color: black;
}
#chessboard .square:nth-child(odd):nth-child(n + 49):nth-child(-n + 56) {
  background-color: white;
}
#chessboard .square:nth-child(even):nth-child(n + 49):nth-child(-n + 56) {
  background-color: black;
}
#chessboard .square:nth-child(even):nth-child(n + 57):nth-child(-n + 64) {
  background-color: white;
}
#chessboard .square:nth-child(odd):nth-child(n + 57):nth-child(-n + 64) {
  background-color: black;
}
#chessboard .square:nth-child(odd):nth-child(n + 65):nth-child(-n + 72) {
  background-color: white;
}
#chessboard .square:nth-child(even):nth-child(n + 65):nth-child(-n + 72) {
  background-color: black;
}

#board-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
