body {
  font-family: sans-serif;
  background-color: #35363a;
}

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: ((45+2) * 8) px;
  height: ((45+2) * 8) px;
}

.square {
  width: 47px; /* 320 / 8 */
  height: 47px;
  border: 1px solid #bca37f;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-nav {
  height: 100vh; /* 100% of the viewport height */
}

.player-container {
  display: flex;
  align-items: center;
}
.playername {
  color: #fff2d8;
}

#player-top {
  padding-bottom: 2vh;
}

#player-bottom {
  padding-top: 2vh;
}

.player-icon {
  width: 10%;
  height: auto;
  border-radius: 3%;
  padding-right: 1.5vh;
}

/* Alternate color for square spaces */

#chessboard .square:nth-child(odd):nth-child(-n + 9) {
  background-color: #fff2d8;
}

#chessboard .square:nth-child(even):nth-child(-n + 9) {
  background-color: #bca37f;
}

#chessboard .square:nth-child(even):nth-child(n + 9):nth-child(-n + 16) {
  background-color: #fff2d8;
}

#chessboard .square:nth-child(odd):nth-child(n + 9):nth-child(-n + 16) {
  background-color: #bca37f;
}

#chessboard .square:nth-child(odd):nth-child(n + 17):nth-child(-n + 24) {
  background-color: #fff2d8;
}
#chessboard .square:nth-child(even):nth-child(n + 17):nth-child(-n + 24) {
  background-color: #bca37f;
}

#chessboard .square:nth-child(even):nth-child(n + 25):nth-child(-n + 32) {
  background-color: #fff2d8;
}
#chessboard .square:nth-child(odd):nth-child(n + 25):nth-child(-n + 32) {
  background-color: #bca37f;
}

#chessboard .square:nth-child(odd):nth-child(n + 33):nth-child(-n + 40) {
  background-color: #fff2d8;
}
#chessboard .square:nth-child(even):nth-child(n + 33):nth-child(-n + 40) {
  background-color: #bca37f;
}
#chessboard .square:nth-child(even):nth-child(n + 41):nth-child(-n + 48) {
  background-color: #fff2d8;
}
#chessboard .square:nth-child(odd):nth-child(n + 41):nth-child(-n + 48) {
  background-color: #bca37f;
}
#chessboard .square:nth-child(odd):nth-child(n + 49):nth-child(-n + 56) {
  background-color: #fff2d8;
}
#chessboard .square:nth-child(even):nth-child(n + 49):nth-child(-n + 56) {
  background-color: #bca37f;
}
#chessboard .square:nth-child(even):nth-child(n + 57):nth-child(-n + 64) {
  background-color: #fff2d8;
}
#chessboard .square:nth-child(odd):nth-child(n + 57):nth-child(-n + 64) {
  background-color: #bca37f;
}
#chessboard .square:nth-child(odd):nth-child(n + 65):nth-child(-n + 72) {
  background-color: #fff2d8;
}
#chessboard .square:nth-child(even):nth-child(n + 65):nth-child(-n + 72) {
  background-color: #bca37f;
}

#board-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
